<div class="container">
    <div *ngIf="!submitted">
        <h1>Hero Form</h1>
        <form #heroForm="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
            <button mat-stroked-button color="primary" type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>
            <button mat-stroked-button color="primary" type="button" class="btn btn-default" (click)="form.reset()">New Hero</button>
        </form>
    </div>

    <div *ngIf="submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9">{{ model.name}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Alter Ego</div>
            <div class="col-xs-9">{{ model.alterEgo }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Power</div>
            <div class="col-xs-9">{{ model.heroPower }}</div>
        </div>
        <br>
        <button mat-stroked-button color="primary" class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
</div>